.TodoItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;

}
.TodoCheck {
  display: flex;
  flex-direction: row;
}
.UnTodoCheck{
  display: flex;
  flex-direction: row;
}
.text {
  padding-left: 15px;
  font-weight: 500;
  font-size: 20px;
}
.UnTodoCheck {
  color:rgb(121, 175, 214);
  text-decoration: line-through;
}
.checkButton {
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
  color: rgb(121, 175, 214);
}

.removeButton {
  font-size: 25px;
  font-weight: 100;
  cursor: pointer;
  color: rgb(190, 64, 64);
}
